name: Pipeline

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    name: Run Python Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        run: |
          cd mqtt-weather-project
          flake8 .

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd mqtt-weather-project/subscriber
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest mqtt-weather-project

  docker:
    name: Push Docker Image --> DockerHUB
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image and Push to DockerHUB
        uses: docker/build-push-action@v5
        with:
          context: mqtt-weather-project/stations
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mqtt-weather-station:latest
