name: CI & Docker Publish

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    name: Run Python Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        run: |
          cd mqtt-weather-project
          flake8 .

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: lint  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd mqtt-weather-project/subscriber
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest mqtt-weather-project


